<nav>

    <div class="logo">
        <span>🗿</span>
        <h3>RPS<br>Online</h3>
    </div>

    <div>
        <ul class="navlist">
            <li><a href="#" class="nav-link">Home</a></li>
            <li><a href="#" class="nav-link">Leaderboard</a></li>
        </ul>
    </div>

</nav>